$primary-color:#222831;
$secondary-color:#31363F;
.counter-sec{
  height: 100vh;
  background:$primary-color;
  border: 3px solid $secondary-color;
  display: flex;
  justify-content: center;
  align-items: center;
  color:white;
  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .counter{
    background:$secondary-color;
    border: 5px double $primary-color;
    min-width: 450px;
    padding: 2rem;
  .count{
    border-radius: 50%;
    background-color: black;
    width: 4rem;
    height: 4rem;
    color:whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .buttons button{
padding: 4px;
border-radius: 4px;
margin: 0 8px 0 8px;
font-weight: 700;
border: 5px double white;

  }
  .add{
    background: green;
  
  }
  .subract{
   background: navy;
  }
  .reset{
   background-color: red;
  }
  }
  
}

